#hamburger{
    display:block;
}
ul.meniu{
    display:none;
    position:absolute;
    width:100%;
    transform-origin: top left;
}
#ch-menu:checked+ul.meniu{
    display: block;
    animation-name: asub;
    animation-duration: 1s;
    animation-timing-function: linear;
    transform: rotate(0deg);
}
@keyframes asub {
    0%{
        opacity: 0;
        transform: rotate(-90deg);
    }
    100%{
        opacity: 1;
        transform: rotate(0deg);

    }
}
nav ul.meniu li{
    width:100%;
    transition: rotate(100deg); 
}
nav ul.meniu>li ul{
    position:absolute;
    width:100%;
    z-index:20;
}
