body {
    --inaltime-meniu: 3rem;
}
nav ul.meniu ul{
    display: none;
    position: absolute;
    width: 100%;
    transform-origin: center;
}
nav{
    height:var(--inaltime-meniu);
    width:100%;
    top:0;
    padding:0;
    background: aliceblue;
    z-index:10;
    position:sticky;
}
nav ul.meniu>li{
    float:left;
    width:100px;
	position:relative;
}
nav ul, nav li{
    padding:0;
    margin:0;
}
nav ul.meniu li{
    text-align:center;
    list-style-type: none;
    background: rgb(172, 176, 179);
    cursor:pointer;
}
nav ul.meniu li a, nav ul.meniu li div{
    text-decoration: none;
    color:black;
    display: block;
    font-weight:bold;
    height:var(--inaltime-meniu);
    line-height:var(--inaltime-meniu);
    outline:1px solid black;
}
.meniu>li>ul a:hover {
    background: rgb(207, 214, 221);
    color:brown;
}
.meniu>li>ul a{
    transition: background 0.5s linear; 
    transition: color 0.5s linear;
 }
 nav ul.meniu>li:hover>ul{
	display:block;
    animation-name: aparitie_meniu;
    animation-iteration-count:1;
    animation-duration:0.5s;
    animation-timing-function:linear;
}

#hamburger{
    display: none;
    height: var(--inaltime-meniu);
}
#ch-menu{
    display: none ;
}
#hamburger img{
    height:100%;
    width:auto;
  }


  @keyframes aparitie_meniu{
    0%{
        transform: scale(1, 0);
    } 
	100%{
    	transform: scale(1, 1);
    }
}