html{
    font-size: 16px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    --culoare1: rgb(190, 100, 100);
    --culoare2: rgb(100, 190, 100);
    --culoare3: rgb(100, 100, 190);
    --culoare4: rgb(190, 190, 100);
    --culoare5: rgb(100, 190, 190);
    
    margin-top:0;
    margin-bottom:0;

    background-color: aliceblue;
    border-left: 120px dotted;
    border-right: 120px dotted;
    border-image:url("../materiale_grafice/bandafilm.png") 200 round;

    --body-padding:2rem;
    padding-left:var(--body-padding);
    padding-right:var(--body-padding);
    padding-top:0;
    padding-bottom:0;
    min-width:350px;
}

#container{
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.6fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 1fr;
    grid-template-areas:
        "prezentare prezentare prezentare"
        "calendar tabel anunturi"
        "utilizatori tabel anunturi"
        "utilizatori statistici info"
        "continut continut continut";
}

#tabel{
    grid-area: tabel;
}
#calendar{
    grid-area: calendar;
}
#anunturi{
    grid-area: anunturi;
}
#utilizatori{
    grid-area: utilizatori;
}
#statistici{
    grid-area: statistici;
}
#info{
    grid-area: info;
}
#continut{
    grid-area: continut;
}

#prezentare{
    grid-area: prezentare;
    display: block;
}
#prezentare>div.prz{
    display: flex;
    align-items: center;
    padding-left: 1.25rem;
    padding-bottom: 2rem;
}

h2 {
    padding: 0.75rem;
}
#prez2 {
    flex-direction: row-reverse;
}

.titlu {
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
}
.text {
    padding-right: 2rem;
    text-align: justify;
    text-justify: inter-word;
}
#prezentare img{
    width: 100%;
    max-width: 500px;
    height: auto;
    padding-right: 1rem;
    margin: auto;

}
header {
    display: flex;
    align-items: flex-end;
    text-align: left;
    padding-top: 1rem;
    text-align: end;  
    font-size: 2rem;
    padding-bottom: 1rem;
}
header>img{
    width: 5%;
    height: auto;
    min-width: 5rem;
    padding-right: 1rem;
    margin: 0;
}

#buton_top {
    position: fixed;
    opacity: 0.5;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 2.7rem;
    margin-right: 4rem;
    border: 0.6rem solid grey;
    border-top: transparent;
    border-bottom: transparent;
    background-color: white;
    border-radius: 40%;
    text-align: center;
  }
#buton_top:hover{
    opacity:1;
}
  
#buton_top #triunghi{
    margin-top: 20px;
    height: 0px;
    width: 0;
    display: inline-block;
    border-bottom: 0.7rem solid blue;
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
    vertical-align: middle;
    -webkit-transition: -webkit-transform 500ms linear;
    transition: -webkit-transform 500ms linear;
    transition: transform 500ms linear;
    transition: transform 500ms linear, -webkit-transform 500ms linear;
  }
  
#buton_top:hover #triunghi {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }

#triunghi{
    margin-top: 20px;
    height:0px;
    width:0;
    display:inline-block;
    border-bottom:1rem solid red;
    border-left:1rem solid transparent;
    border-right:1rem solid transparent;
    vertical-align: middle;
    transition: transform 500ms linear;
}

#buton_top span{
    visibility: hidden;
    background-color:rgb(190, 100, 100);
    color: white;
    padding: 0.2rem;
    width: 70px;
    right: 20%;
    margin-right: 40px;
    position: absolute;
    z-index: 1;
}

#buton_top:hover span{
    visibility: visible;
    transition-delay: 0.5s;
}


#continut img{
    max-width: 500px;
}
.linie{
    height: 10px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1),  rgba(0,0,0,0));
    text-align: center;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.cerc {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-color: dimgray;
    border: solid 4px black;
    border-radius: 50%;
    position: absolute;
    top: -6px;
}

#banner{
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    text-align: center;
    animation-name: aparitie-banner, disparitie-banner;
    animation-duration: 3s, 6s;
    animation-fill-mode: forwards;
}

@keyframes aparitie-banner{
    0%{
        bottom: -25px;
    }
    33.33%{
        background-color: rgb(207, 214, 221);
        color: white;
    }
    66.66%{
        bottom: 20px;
        background-color: rgb(172, 176, 179);
    }
    100%{
        bottom: 0px;
        background-color: rgb(207, 214, 221);
    }
}

@keyframes disparitie-banner{
    0%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
.banda::after {
    background-image: linear-gradient(to right, rgba(0,0,0,0), 30%, rgba(0,0,0,1));
    width: 100%;
    height: 10px;
    background-position: bottom;
}
#ifr{
    display: flex;
    flex-direction: column;
}
#ifra {
    border:10px solid dimgrey;
}
#link_iframe{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 560px;
}
#link_iframe a{
    text-decoration:none;
    width:100px;
    border:5px solid dimgrey;
    background-color: royalblue;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    transition: background 0.6s linear;
    margin-left: 0.5rem;
}
#link_iframe a:hover{
    background-color: rgb(190, 100, 100);
}
/*tabel*/
#program, tr, th, td{
    border: 1px solid dimgray;
    border-spacing: 1px;
}

#program{
    width: 450px;
}

td{
    text-align: center;
}

col:nth-child(even){
    background-color: dimgray;
    transition: background-color 500ms linear;
}
col:nth-child(odd){
    background-color: whitesmoke;
    transition: background-color 500ms linear;
}

tr:hover{
    background-color: yellow;
}

th{
    color: black;
}

