html{
    font-size:11px;
}
body{
    --body-padding: 0rem;
    border-left: 60px dotted;
    border-right: 60px dotted;
    border-image:url("../materiale_grafice/bandafilm.png") 200 round;
}
#container{
    padding: 0;
    display:block;
}
#prezentare{
    display: block;
}
#prezentare>div{
    display: block;
}
#prezentare img{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}
header {
    justify-content: center;
    font-size: 1.5rem;
}

#banner{
    display: none;
}