<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="description" content="Site cu informații despre filme, actori, regizori și cu sistem de rating pentru producții.">
        <meta name="keywords" content="Filme noi, actori, regizori, recenzii filme, seriale, documentare, animații, emisiuni tv">
        <title>SPOTLIGHT - err403</title>
        <%- include("../fragmente/head") %>
    </head>
    <body id = "eroare1">
        <%- include("../fragmente/header") %>
        <main>
            <section id = "eroare">
                <h2>403 - Acces interzis!</h2>
                <img src="/resurse/materiale_grafice/img_interzis.jpg" alt="imag"/>
            </section>
        </main>
        <%- include("../fragmente/footer") %> 
        <div id="banner">Acesta este un proiect școlar!<i class="fas fa-user-graduate"></i></div>
    </body>
</html>