<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="description" content="Site cu informații despre filme, actori, regizori și cu sistem de rating pentru producții.">
        <meta name="keywords" content="Filme noi, actori, regizori, recenzii filme, seriale, documentare, animații, emisiuni tv">
        <title>SPOTLIGHT - Despre</title>
        <%- include("../fragmente/head") %>
    </head>
    <body>
        <%- include("../fragmente/header") %>
        <main>
            <section id = "prezentare">
                <h2 class = "subtit">Spotlight - proiect pentru cursul de Tehnici Web</h2>
                <div class = "linie"><hr><div class = "cerc"></div></div>
                <p>Acest site are un scop didactic, el fiind realizat pe parcursul cursului de <b>Tehnici Web</b>.</p>
                <div id = "prez1" class="prz"> 
                    <div id="t1">
                        <p class = "titlu">Anul I la FMI<i class="fas fa-graduation-cap" style="padding-left: 2px;"></i></p>
                        <p class = "text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id ligula vitae nulla sagittis consequat vitae nec odio. Suspendisse eu dolor
                                 volutpat, condimentum tellus et, auctor nunc. Aliquam nec lacus vitae metus placerat euismod. Nullam quis auctor metus. Aliquam molestie, nisi sed 
                                 ullamcorper hendrerit, tellus erat luctus quam, et auctor nisl metus bibendum tortor. Phasellus aliquet massa vitae viverra pulvinar. Vestibulum et egestas
                                 est, vel convallis elit. Praesent pellentesque mi sit amet dolor porta sollicitudin.<p>
                    </div>
                    <img src="resurse/materiale_grafice/despre/im1.jpg" alt="imag"/>
   
                </div>
                <div id="prez2"  class="prz">
                    <div id="t2">
                        <p class = "titlu">Curs de Tehnici Web<i class="fab fa-css3" style="padding-left: 2px;"></i></p>
                        <p class = "text">Cras hendrerit lorem at nulla eleifend, in viverra orci efficitur. Phasellus laoreet quam quis consequat eleifend. Sed in lectus risus. Vestibulum ornare 
                                ligula metus, id lobortis nunc ultricies sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac purus a libero dapibus aliquet. 
                                Donec posuere eros in elit hendrerit ultricies. Praesent enim sapien, egestas ac tempor in, semper a tellus. Donec tempus, ex sed pretium consequat, 
                                tortor est sodales ex, eget maximus nulla elit malesuada urna. Etiam nec consequat elit. Pellentesque sem leo, sollicitudin at laoreet at, maximus sed 
                                risus. Curabitur auctor tellus at neque efficitur, vel mattis odio eleifend. Duis id orci sem. Fusce pulvinar congue dui, non porttitor velit cursus ullamcorper.</p>
                    </div>
                    <img src="resurse/materiale_grafice/despre/im2.jpg" alt="imag"/> 
                </div>
                <div id="prez3" class="prz"> 
                    <div id="t3">
                        <p class = "titlu">Drumul spre full stack developer<i class="fas fa-laptop-code" style="padding-left: 2px;"></i></p>
                        <p class = "text">Praesent lacinia turpis mi, nec imperdiet metus porttitor quis. Sed viverra sollicitudin tincidunt. Integer ut laoreet purus, ac iaculis tellus. Vivamus 
                                libero nisl, molestie non finibus vitae, semper eu velit. Quisque in egestas libero, lacinia vestibulum neque. Vivamus pulvinar aliquet mattis. Morbi viverra
                                 tortor sed ante dictum viverra. Duis molestie congue massa et posuere. Phasellus faucibus nisi hendrerit, fringilla ligula sit amet, sollicitudin mi. 
                                 Vestibulum in eros imperdiet, euismod orci sodales, convallis lectus. Duis at lectus ut sem gravida mattis. Duis id faucibus turpis. Fusce varius feugiat 
                                 orci molestie congue.<p>
                    </div>
                    <img src="resurse/materiale_grafice/despre/im3.jpg" alt="imag"/>
                </div>
            </section>
        </main>
        <%- include("../fragmente/footer") %> 
        <div id="banner">Acesta este un proiect școlar!<i class="fas fa-user-graduate"></i></div>
    </body>
</html>