<footer>
    <div class="linie"><hr><div class="cerc"></div></div>
    <address id="contact">
        Contact:<br>
        <ul style="list-style:none;">
        <li><i class="fas fa-envelope"></i>e-mail: <a href="mailto:info@spotlight.com">info@spotlight.com</a></li>
        <li><i class="fas fa-phone"></i>telefon: <a href="tel:+40-0123.345.678">0123.345.678</a></li>
        </ul>
        Strada Academiei, numărul 14<br>
        București<br>
    </address>
    <p><small>Copyright &copy;Toader Andi-Alexandru <time datetime="2020-03-06">2020-03-06</time></small></p>
    <a href="#" id = "buton_top"><div id="triunghi"><span>Început</span></div></a>
</footer>