<header>
    <img src="/resurse/materiale_grafice/logo.png" alt="logo">
    <h1>Spotlight</h1>
</header>
<nav>
    <div id="meniu-mic">
        <label id="hamburger" for="ch-menu">
            <img src="/resurse/materiale_grafice/hamburger.png" alt="menu-hamburger">
        </label>
        <div>
            <img src="/resurse/materiale_grafice/logo_hamburger.png" alt="logo">
            <p id="titlul-hamburger">Spotlight</p>
        </div>
    </div>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu" id="meniu">
        <li id="home"><a href="/index"><div id="casuta"><i class="fas fa-home" id="himg"></i>Acasă</div></a>
            <ul>
                <li><a href="/index#prezentare">Bine ați venit!</a></li>
                <li><a href="/index#tabel">Topul lunii</a></li>
                <li><a href="/index#nou">Noutăți</a></li>
                <li><a href="/index#contact">Contact</a></li>
            </ul>
        </li>
        <li class="banda"><a href="/despre" >Despre</a></li>
        <li class="banda"><a href="/cinema" >Cinema</a>
            <ul>
                <li><a href="/cinema">Toate</a></li>
                <li><a href="/cinema?tip=animatie">Animații</a></li>
                <li><a href="/cinema?tip=film">Filme</a></li>
                <li><a href="/cinema?tip=documentar">Documentare</a></li>
                <li><a href="/cinema?tip=scurtmetraj">Scurtmetraje</a></li>
                <li><a href="/cinema?tip=serial">Seriale</a></li>
            </ul>
        </li>
        <li class="banda"><a href="productie">Producție</a></li>
        <li class="banda"><a href="memes" >Memes</a></li>
    </ul>
</nav>
<p id="watermark"></p>